body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(87, 133, 133);
}

#myH1 {
    font-size: 4rem;
    
}


#container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 20px;
    padding: 30px;
    background-color: aliceblue;
}


#display {
    font-size: 4rem;
    text-shadow: 2px 2px 2px red;
    margin-bottom: 15px;

}


#controls button {
    font-size: 2rem;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(250, 251, 252);
    
}

#startBtn {
    background-color: green;
}
#startBtn:hover {
    background-color: rgb(96, 160, 96);
}
#stopBtn {
    background-color: red;
}
#stopBtn:hover {
    background-color: rgb(168, 94, 94);
}
#resetBtn {
    background-color: cyan;
}
#resetBtn:hover {
    background-color: rgb(98, 165, 165);
}