body {
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
}



#calculator {
    max-width: 500px;
    overflow: hidden;
    background-color: rgba(53, 19, 19, 0.37);
    border-radius: 15px;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    color: black;
}


#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}



button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: rgb(34, 33, 33);
    color: white;
    font-size: 3rem;
    border: none;
}
button:hover {
     background-color: rgb(163, 85, 85);
}

button:active {
     background-color: rgb(97, 32, 32);
}


.operate {
    background-color: rgb(49, 67, 231);
}
.operate:hover {
    background-color: rgb(95, 107, 218);
}
.operate:active {
    background-color: rgb(56, 70, 196);
}

.result {
    background-color: green;
}
.result:hover {
    background-color: rgb(131, 175, 131);
}
.result:active {
    background-color: rgb(47, 121, 47);
}

.clr {
    background-color: rgb(32, 123, 126);
}

.clr:hover {
    background-color: rgb(92, 134, 136);
}

.clr:active {
    background-color: rgb(35, 52, 53);
}